
<%= form_with(model:@post , local: true, html: {id: 'create_posts' })do |form| %>
<div class="container ml-5 p-5">
    <div>
        <%= form.label :title %> <br/>
        <%= form.text_field :title, required: true%>
    </div>
    <div>
        <%= form.label :image_url %> <br/>
        <%= form.text_field :image_url, required: true%>
    </div>
    <div>
        <%= form.label :content%> <br/>
        <%= form.text_field :content, required: true%>
    </div>
    <div class="mt-3">
        <%= form.submit "Guardar"%>
    </div>
</div>

<% end %>

